.breadcrumbs {
    @include respond-above(md) {
        display: flex;
    }
    &__item {
        display: block;
        margin: 0 10px 0 0;
        font-size: 2rem;

        span, a {
            display: inline-block;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 2.8rem;
            height: 2.8rem;
        }

        &::after {
            content: " >";
            margin-left: 10px;
            line-height: 2.8rem;
            display: inline-block;
        }

        &:last-of-type:after {
            content: "";
        }

        &:last-of-type {
            margin-right: 1.6rem;
        }
    }
}
