.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-secondary;
    width: 100%;

    &__inner {
        @include respond-above(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .container {
        padding-top: 0;
        padding-bottom: 1.5rem;
    }

    &__copyright {
        line-height: 2.5rem;
    }

    &__tools {
        @include respond-above(md) {
            display: flex;
            align-items: center;
        }
    }

    &__buttons {
        display: flex;

        @include respond-above(md) {
            display: block;
        }

        .button {
            margin-right: 1rem;
        }
    }

    &__sort {
        display: flex;

        @include respond-above(md) {
            display: block;
        }
    }

    hr {
        margin-top: 0;
    }
}
