.hackathons {
    &__title {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    &__summary {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    &__item {
        margin-bottom: 3rem;

        @include respond-above(md) {
            margin-bottom: 5.1rem;
        }
    }
}
