.hackathons {
  &__list {
    max-width: 85rem;

    @include respond-above(md) {
      column-count: 2;
      column-gap: 1rem;
      height: 15rem;
      column-fill: auto;
    }
  }

  &__item {
    break-inside: avoid-column;
  }

  &__title {
    line-height: 2.8rem;
  }

  &__summary {
    line-height: 2.5rem;
  }

  .link {
    display: block;
  }
}
