.hackathons {

    .hackathons__title {
        font-size: 2rem;
        line-height: 2.8rem;
    }


    .hackathons__summary {
        font-size: 4.1rem;
        line-height: 5.7rem;
    }

    .hackathons__item {
        margin-bottom: 3rem;

        @include respond-above(md) {
            margin-bottom: 5.1rem;
        }
    }
}
