.idea {
    margin-bottom: 1.5rem;
    border: 1px solid $color-primary;
    padding: 0.5rem;
    max-width: 80rem;

    &__inner {
        padding: 2rem;
        border: 1px solid $color-primary;
        display: flex;
        align-items: flex-start;
    }

    &__content {
        width: 100%;
        max-width: 65.8rem;
        margin-left: 2.5rem;

        @include respond-above(md) {
            margin-left: 2rem;
        }

        .link:not(:last-of-type) {
            margin-right: 1.5rem;
        }
    }

    &__details {
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 2.4rem;
        text-transform: uppercase;
    }

    &__description {
        font-size: 2rem;
        line-height: 2.4rem;
        padding-bottom: 2rem;
    }
}
