.link {
    color: $color-secondary;
    background-color: $color-primary;
    text-transform: uppercase;
    padding: 0 .5rem;
    font-size: 2rem;
    line-height: 1.2;
    text-decoration: underline;
    border: 1px solid transparent;
    width: fit-content;

    &:hover,
    &:focus {
        background-color: darken($color-primary, 10%);
    }
}
