// Body
$body-bg: #fff;

// Fonts
$font-family-primary: "Comic Sans MS", cursive, sans-serif;

// Font Sizes
$font-size-default: 62.5%;
$font-size-mobile: 50%;

// Font Weights
$font-weight-default: 400;
$font-weight-bold: 600;

// Colors
$color-text: #000;
$color-primary: #000;
$color-secondary: #fff;