// Variables

@import 'reset';
@import 'variables';
@import 'media-queries';

// Global

.error {
  color: red;
}

html {
    font-size: $font-size-mobile;

    @include respond-above(md) {
        font-size: $font-size-default;
    }
}

body {
    background-color: $body-bg;
    font-family: $font-family-primary;
}

h1 {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2.7rem;
}

h2 {
    font-size: 4.1rem;
    line-height: 3.8rem;
    margin-bottom: 0.1rem;

    @include respond-above(md) {
        line-height: 5.7rem;
    }
}

a {
    text-decoration: underline;
    color: inherit;
}

button, .button {
    border-radius: 99px;
    background-color: $color-primary;
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2rem 3rem;
    font-family: $font-family-primary;
    cursor: pointer;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.1s;
    text-decoration: none;

    &:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
        transition: all 0.1s;
    }

    &:active {
        margin: 0;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
    }
}

input,
textarea {
    border-radius: 99px;
    border: 2px solid $color-primary;
    font-size: 2rem;
    padding: 1.5rem 3rem;
    font-family: $font-family-primary;
    box-sizing: border-box;
}

textarea {
    border-radius: 30px;
    resize: none;
    width: 100%;
    max-width: 660px;
}

.field-wrapper {
    position: relative;

    label  {
        position: absolute;
        pointer-events: none;
        left: 3rem;
        top: 1.5rem;
        line-height: 2.8rem;
        font-size: 2rem;
        transition: 0.2s ease all;
    }

    input,
    textarea {
        padding: 2rem 3rem 1rem;
        min-width: 250px;
        margin-bottom: 1.4rem;

        &:focus ~ label,
        &:valid ~ label {
            top: 0.7rem;
            font-size: 1rem;
            line-height: 1.4rem;
        }
    }
}

.container {
    padding: 3.4rem 3rem;

    @include respond-above(md) {
        padding: 3.4rem 3.8rem;
    }
}

// Breadcrumbs

#top-section {
    margin-bottom: 4.7rem;

    @include respond-above(md) {
        display: flex;
        align-items: center;
    }

    .breadcrumbs {

        li {
            display: block;
            margin: 0 5px 0 0;
            font-size: 2rem;
            line-height: 2.8rem;

            @include respond-above(md) {
                display: inline-block;
            }

            &:after {
                content: " >";
            }

            &:last-of-type:after {
                content: "";
            }

            &:last-of-type {
                margin-right: 1.6rem;
            }
        }
    }

    button {
        margin-top: 1.6rem;

        @include respond-above(md) {
            margin-top: 0;
        }
    }
}

// Voting

.vote-wrapper {
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    .icon {
        width: 40px;
        height: auto;

        @include respond-above(md) {
            width: 51px;
        }

        .a,
        .b {
            fill: none;
        }

        .b {
            stroke: #000;
            stroke-width: 2px;
        }
    }

    .vote-count {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.3rem;
    }

    &.voted {

        .icon {

            .b {
                fill: $color-primary;
            }
        }

        .vote-count {
            color: $color-secondary;
        }
    }

    &:hover  {
        background-color: lighten($color-primary, 95%);
    }
}

// Hackathons List

#hackathons {
    h1 {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    ul {
        h2 {
            font-size: 4.1rem;
            line-height: 5.7rem;
        }

        li {
            margin-bottom: 3rem;

            @include respond-above(md) {
                margin-bottom: 5.1rem;
            }
        }
    }
}

// Hackathon Details

#hackathon-details {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6rem;

    .content-wrapper {
        width: 100%;
        max-width: 658px;
        margin-left: 15px;

        @include respond-above(md) {
            margin-left: 20px;
        }

        h2 {
            font-weight: $font-weight-bold;
        }

        .created-by {
            margin: 10px 0;
            font-size: 1.2rem;
            line-height: 1.6rem;
        }

        .description {
            font-size: 1.6rem;
            line-height: 1.8rem;

            @include respond-above(md) {
                line-height: 2.4rem;
            }
        }
    }
}

// Features

.features {
    margin-top: 2rem;

    h3 {
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin-bottom: 1.3rem;
    }

    h4 {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: $font-weight-bold;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;

        @include respond-above(md) {
            margin-bottom: 1.9rem;
        }
    }

    .icon {
        width: 25px;
    }

    .vote-count {
        position: relative;
        left: auto;
        top: auto;
        margin: 0 0.6rem 0 0.5rem;
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}

// Discussion

#discussion {
    background-color: $color-primary;
    color: $color-secondary;

    .container {
        padding: 5.2rem 3rem 7.6rem 3rem;
        width: 100%;
        max-width: 670px;
        box-sizing: border-box;

        @include respond-above(md) {
            padding: 7.2rem 3.8rem 9.6rem 11.1rem;
            box-sizing: content-box;
        }
    }

    input {
        width: 100%;
    }

    label {
        color: $color-primary;
    }

    li {
        margin-bottom: 3.3rem;
    }

    li ul {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        margin: 3.3rem 0 0 1.5rem;
        padding-left: 2rem;

        @include respond-above(md) {
            margin: 3.3rem 0 0 2.5rem;
            padding-left: 3rem;
        }
    }

    .small-text {
        opacity: 0.5;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: $font-weight-default;
    }

    .submit-comment {
        margin-bottom: 5.3rem;

        .small-text {
            padding-left: 3rem;
        }
    }

    .name {
        font-size: 1.6rem;
        line-height: 2.3rem;
        font-weight: $font-weight-bold;
    }

    .comment {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 0.4rem 0 0.3rem;
    }

    .reply {
        font-size: 1.3rem;
        line-height: 2.4rem;
    }
}
