@import 'abstracts/reset';
@import 'abstracts/variables';
@import 'abstracts/media-queries';
@import 'breadcrumbs';
@import 'button';
@import 'form';
@import 'hackathon';
@import 'hackathons';
@import 'header';
@import 'idea';
@import 'messages';
@import 'rendered-markdown';
@import 'vote';

html {
    font-size: $font-size-mobile;

    @include respond-above(md) {
        font-size: $font-size-default;
    }
}

body {
    background-color: $body-bg;
    font-family: $font-family-primary;
}

h1 {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2.7rem;
}

h2 {
    font-size: 4.1rem;
    line-height: 3.8rem;
    margin-bottom: 0.1rem;

    @include respond-above(md) {
        line-height: 5.7rem;
    }
}

a {
    text-decoration: underline;
    color: inherit;
}

.container {
    padding: 3.4rem 3rem;

    @include respond-above(md) {
        padding: 3.4rem 3.8rem;
    }
}
