// Body
$body-bg: #000;

// Fonts
$font-family-primary: 'Source Code Pro', monospace;

// Font Sizes
$font-size-default: 62.5%;
$font-size-mobile: 50%;

// Font Weights
$font-weight-default: 400;
$font-weight-bold: 600;

// Colors
$color-primary: #FF9D00;
$color-secondary: #000;
